<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Upload CSV</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">

        <h1 class="container" >Clusterização</h1>
        <div class="section-block">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="custom-label" for="n_clusters">Número de clusters:</label><br>
                    <input class="inputfile" type="number" name="n_clusters" id="n_clusters" value="3" min="2" required><br><br>
                    <label for="arquivo_cluster" class="file-upload-button">Escolher arquivo </label>
                    <h3>Selecione as colunas para clusterização</h3>
                    {% for coluna in colunas %}
                    <div class="filter-group">
                        
                        <label>
                            <input type="checkbox" name="colunas" value="{{ coluna }}">
                            {{ coluna }}
                        </label>
                        {% endfor %}
                    </div>
                    <br>
                    <label class="custom-label" for="normalizacao">Método de Normalização:</label><br>
                    <select lass="custom-label" name="normalizacao" id="normalizacao">
                        <option value="soma">Dividir pela soma (atual)</option>
                        <option value="zscore">Z-Score</option>
                        <option value="nenhuma">Nenhuma</option>
                    </select><br><br>
                    <label for="nulos">Tratamento de valores nulos:</label><br>
                    <select name="nulos" id="nulos">
                        <option value="drop">Descartar linhas com NaN</option>
                        <option value="zero">Preencher com 0</option>
                        <option value="media">Preencher com média</option>
                    </select><br><br>
                </div>
                <button type="submit">Executar Clusterização</button>
            </form>
        </div>
        
        {% if mensagem %}
        <p class="feedback-message">{{ mensagem }}</p>
        {% endif %}
        
        <form action="{% url 'index_sem_limpar' %}" method="get"class="action-form" >
            <button type="submit">Voltar</button>
        </form>
        <form action="{% url 'analise_clusters' %}" method="get" class="action-form">
            <button type="submit">analise_clusters</button>
        </form>
    </div>
    </body>

</html>