<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Upload CSV</title>
     <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
   <h1>Extrair do PDF</h1>
    <div class="section-block">
        <form method="post" enctype="multipart/form-data" action="{% url 'processar_mesclagem' %}">
            <div class="form-group">
            {% csrf_token %}
            <label class="custom-label">Arquivo para extração:</label>
            <input class="inputfile" type="file" name="arquivo_mesclar" id="extrair_pdf" required><br>
            <label for="extrair_pdf" class="file-upload-button">Escolher arquivo </label>
        </div>
        <button type="submit">Enviar</button>
    </form>
    
    {% if mensagem %}
    <p>{{ mensagem }}</p>
    {% endif %}
    
    <form action="{% url 'index' %}" method="get" style="margin-top: 20px;">
        <button type="submit">Voltar</button>
    </form>
    
</div>
</div>
</body>
</html>
