<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Upload CSV</title>
</head>
<body>
    <h2>Extrair do PDF</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'processar_mesclagem' %}">
        {% csrf_token %}
        <input type="file" name="arquivo_mesclar" required>
        <button type="submit">Enviar</button>
    </form>

    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}

    <form action="{% url 'index' %}" method="get" style="margin-top: 20px;">
        <button type="submit">Voltar</button>
    </form>

</body>
</html>
